@model List<SpecWheels.Models.Break.BreakModel>

@{
    ViewBag.Title = "List break";
}

<fieldset class="form-group">
    @Html.AntiForgeryToken()
    <h4>Break List</h4>
    <hr />
    @Html.ValidationSummary()

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Brand</th>
                <th scope="col">Size</th>
                <th scope="col">Type</th>
                <th scope="col">View</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                <td>@item.Brand</td>
                <td>@item.Size</td>
                <td>@item.Type</td>
                <td>
                    @Html.ActionLink("View", "View", "Break", new { id = item.Id }, new { @class = "btn btn-primary" })
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Break", new { id = item.Id }, new { @class = "btn btn-primary" })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", "Break", new { id = item.Id }, new { @class = "btn btn-primary" })
                </td>

            </tr>               
            }
        </tbody>
    </table>



    @*<a class="btn btn-primary" href="@Url.Action("Edit", "User")">Edit User</a>
        <a class="btn btn-primary" href="@Url.Action("Inactivate", "User")">Inactivate User</a>*@

</fieldset>
    