@model SpecWheels.Models.Break.BreakModel

@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "Break", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    
    

       


    <fieldset class="form-group has-error">
        @Html.AntiForgeryToken()
        <h4>Register Break</h4>
        <hr />
        @Html.ValidationSummary()

        <div class="form-group has-error">
            @Html.LabelFor(model => model.Brand, new { @class = "form-control-label" })
            @Html.TextBoxFor(model => model.Brand, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Brand)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "form-control-label" })
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Name)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Size, new { @class = "form-control-label" })
            @Html.TextBoxFor(model => model.Size, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Size)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Type, new { @class = "form-control-label" })
            @Html.TextBoxFor(model => model.Type, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Type)
        </div>

        <div id="messages"></div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Register" />
            </div>
        </div>

    </fieldset>
}