@model SpecWheels.Models.User.UserModel

@{
    ViewBag.Title = "Inactivate user";
}
@using (Html.BeginForm("Inactivate", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{ 
<fieldset class="form-group">
    @Html.AntiForgeryToken()
    <h4>User details</h4>
    <hr />
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, new { @class = "form-control-label" })
        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control disabled", @readonly = "readonly" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastName, new { @class = "form-control-label" })
        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control disabled", @readonly = "readonly" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Nickname, new { @class = "form-control-label" })
        @Html.TextBoxFor(model => model.Nickname, new { @class = "form-control disabled", @readonly = "readonly" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email, new { @class = "form-control-label" })
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control disabled", @readonly = "readonly" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RegisterDate, new { @class = "form-control-label" })
        @Html.TextBoxFor(model => model.RegisterDate, new { @class = "form-control disabled", @readonly = "readonly" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password, new { @class = "form-control-label" })
        @Html.TextBoxFor(model => model.Password, new { @class = "form-control disabled"})
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.UserPrivacyLevel, new { @class = "form-control-label" })
            @Html.TextBoxFor(model => model.UserPrivacyLevel, new { @class = "form-control disabled", @readonly = "readonly" })
        </div>*@

    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Inactivate User" />
        </div>
    </div>

</fieldset>
    }