@model SpecWheels.Models.User.LoginUserModel

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Login", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <fieldset class="form-group">
        @Html.AntiForgeryToken()
        <h4>Login</h4>
        <hr />
        @Html.ValidationSummary()

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "form-control-label" })
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "form-control-label" })
            @Html.TextBoxFor(model => model.Password, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Login" />
            </div>
        </div>

    </fieldset>
}