@model SpecWheels.Models.User.UserModel

@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    
    <script>
        $(document).ready(function () {
            $('.input-validation-error').parents('.form-group').addClass('has-error');
            $('.input-validation-error').addClass('form-control');
            $('.field-validation-error').addClass('text-danger');

            $('.validation-summary-errors').each(function () {
                $(this).addClass('alert');
                $(this).addClass('alert-danger');
            });

        });
    </script>

    <fieldset class="form-group has-error">
        @Html.AntiForgeryToken()
        <h4>Create a new account</h4>
        <hr />
        @Html.ValidationSummary()

        <div class="form-group has-error">
            @Html.LabelFor(model => model.FirstName, new { @class = "form-control-label" })
            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
            @{ Html.ValidateFor(model => model.FirstName); }
            @Html.ValidationMessageFor(x => x.FirstName)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, new { @class = "form-control-label" })
            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.LastName)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nickname, new { @class = "form-control-label" })
            @Html.TextBoxFor(model => model.Nickname, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Nickname)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "form-control-label" })
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Email)
        </div>

        <div class="form-group has-success">
            @Html.LabelFor(model => model.Password, new { @class = "form-control-label" })
            @Html.TextBoxFor(model => model.Password, new { @class = "form-control" })
            <div class="has-error">@Html.ValidationMessageFor(x => x.Password)</div>
        </div>

        <div id="messages"></div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Register" />
            </div>
        </div>

    </fieldset>
}