@model SpecWheels.Models.Engine.EngineModel

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit", "Engine", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
<fieldset class="form-group has-error">
    @Html.AntiForgeryToken()
    <h4>Edit Engine</h4>
    <hr />
    @Html.ValidationSummary()

    <div class="form-group has-error">
        @Html.LabelFor(model => model.Id, new { @class = "form-control-label", @readonly = "readonly" })
        @Html.TextBoxFor(model => model.Id, new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(x => x.Id)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Name, new { @class = "form-control-label" })
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div class="form-group has-error">
        @Html.LabelFor(model => model.Brand, new { @class = "form-control-label" })
        @Html.TextBoxFor(model => model.Brand, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Brand)
    </div>
    <div class="form-group has-error">
        @Html.LabelFor(model => model.HorsePower, new { @class = "form-control-label" })
        @Html.TextBoxFor(model => model.HorsePower, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.HorsePower)
    </div>

    <div id="messages"></div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
    </div>

</fieldset>
}