<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title - SpecWheels</title>

    <link rel="stylesheet" href="/Content/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/Content/main.css" type="text/css" media="screen, projection">

    <script src="/Scripts/jquery.slim.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-validation/dist/jquery.validate.js"></script>

</head>
<body>

    <nav class="navbar navbar-dark bg-dark navbar-expand-sm mb-3">

        <div class="navbar-brand d-sm-block">
            <img src="~/Content/logo2.png" />
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapsable" aria-controls="navbar-collapsable" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="container">
            <div class="collapse navbar-collapse" id="navbar-collapsable">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link active" href="#">Home</a>
                    <a class="nav-item nav-link" href="#">TODO</a>
                    <a class="nav-item nav-link" href="#">TODO</a>
                    <a class="nav-item nav-link" href="#">TODO</a>
                    <a class="nav-item nav-link" href="#">TODO</a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="nav-item nav-link" href="@Url.Action("View", "User")">View User</a>
                    }
                </div><!-- navbar -->

                @if (User.Identity.IsAuthenticated)
                {
                    <form class="form-inline d-none d-md-block">
                        <div class="mb-2">
                            <label class="sr-only" for="search">Search</label>
                            <input class="form-control" type="text" id="search" placeholder="Search car model...">
                            <button class="btn btn-warning" type="button">Go</button>
                            <br />
                        </div>
                        <div class="row justify-content-end mr-2">
                            <a class="text-warning" href="#">Advanced search</a>
                        </div>
                    </form>
                <a href = "@Url.Action("Logout", "User")" title = "logoff" class="last">
                        Logout
                    </a>
                }
                else
                {
                    <a href = "@Url.Action("Register", "User")" title = "register" class="last">
                        Register
                    </a>
                    <a href="@Url.Action("Login", "User")" title="log in" class="last">
                        Login
                    </a>
                }
            </div>
        </div><!-- container -->
    </nav><!-- nav -->

    <div class="container mb-4">
        @RenderBody()
    </div>
    <div>.</div>
    <footer class="fixed-bottom footer">
        <p>&copy; @DateTime.Now.Year - SpecWheels</p>
    </footer>
</body>
</html>
