<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title - SpecWheels</title>

    <link rel="stylesheet" href="/Content/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/Content/main.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/Content/bootstrap-4-navbar.css" type="text/css">

    <script src="/Scripts/jquery.slim.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/Scripts/bootstrap-4-navbar.js"></script>

</head>
<body>

    <nav class="navbar navbar-dark bg-dark navbar-expand-sm mb-3">

        <div class="navbar-brand d-sm-block">
            <img src="~/Content/logo2.png" />
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapsable" aria-controls="navbar-collapsable" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="container">

            <!-- Static navbar -->
            <nav class="navbar navbar-expand-md">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link navbar-brand" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Blah</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Blah</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="https://bootstrapthemes.co" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Car Parts
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li>
                                    <a class="dropdown-item dropdown-toggle" href="#">Break</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("Register", "Break")" title="register" class="dropdown-item">Register</a></li>
                                        <li><a href="@Url.Action("List", "Break")" title="list" class="dropdown-item">List</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item dropdown-toggle" href="#">Suspension</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("Register", "Suspension")" title="register" class="dropdown-item">Register</a></li>
                                        <li><a href="@Url.Action("List", "Suspension")" title="list" class="dropdown-item">List</a></li>
                                        <li><a href="@Url.Action(" Register", "Break" )" title="register" class="dropdown-item">Register</a></li>
                                        <li><a href="@Url.Action(" List", "Break" )" title="register" class="dropdown-item">List</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item dropdown-toggle" href="#">Color</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("Register", "Color")" title="register" class="dropdown-item">Register</a></li>
                                        <li><a href="@Url.Action("List", "Color")" title="list" class="dropdown-item">List</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item dropdown-toggle" href="#">Submenu 2</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Submenu action 2</a></li>
                                        <li><a class="dropdown-item" href="#">Another submenu action 2</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav> <!-- /navbar-->

            <div style="text-align=left;">
                @if (User.Identity.IsAuthenticated)
                {
                <form class="form-inline d-none d-md-block">
                    <div class="mb-2">
                        <label class="sr-only" for="search">Search</label>
                        <input class="form-control" type="text" id="search" placeholder="Search car model...">
                        <button class="btn btn-warning" type="button">Go</button>
                        <br />
                    </div>
                    <div class="row justify-content-end mr-2">
                        <a class="text-warning mr-2" href="#">Advanced search</a>
                        <a href="@Url.Action("Logout", "User")" title="logoff" class="last">
                            Logout
                        </a>
                    </div>
                </form>
                }
                else
                {
                    <div class="row justify-content-end mr-2">
                        <a href="@Url.Action("Register", "User")" title="register" class="last mr-2">
                            Register
                        </a>
                        <a href="@Url.Action("Login", "User")" title="log in" class="last">
                            Login
                        </a>
                    </div>
                }
            </div>

        </div> <!-- /container -->

        @*<div class="container">
            <div class="collapse navbar-collapse" id="navbar-collapsable">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link active" href="#">Home</a>
                    <a class="nav-item nav-link" href="#">TODO</a>
                    <a class="nav-item nav-link" href="#">TODO</a>
                    <a class="nav-item nav-link" href="#">TODO</a>
                    <a class="nav-item nav-link" href="#">TODO</a>

                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Car Parts
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">



                            <a class="dropdown-item" href="#">Break</a>


                            <a class="dropdown-item" href="#">Tire</a>
                            <a class="dropdown-item" href="#">Wheel</a>
                        </div>
                    </div>


                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="nav-item nav-link" href="@Url.Action("View", "User")">View User</a>
                    }
                </div><!-- navbar -->

                @if (User.Identity.IsAuthenticated)
                {
                    <form class="form-inline d-none d-md-block">
                        <div class="mb-2">
                            <label class="sr-only" for="search">Search</label>
                            <input class="form-control" type="text" id="search" placeholder="Search car model...">
                            <button class="btn btn-warning" type="button">Go</button>
                            <br />
                        </div>
                        <div class="row justify-content-end mr-2">
                            <a class="text-warning" href="#">Advanced search</a>
                        </div>
                    </form>
                <a href = "@Url.Action("Logout", "User")" title = "logoff" class="last">
                        Logout
                    </a>
                }
                else
                {
                    <a href = "@Url.Action("Register", "User")" title = "register" class="last">
                        Register
                    </a>
                    <a href="@Url.Action("Login", "User")" title="log in" class="last">
                        Login
                    </a>
                }
            </div>
        </div><!-- container -->*@
    </nav><!-- nav -->

    <div class="container mb-4">
        @RenderBody()
    </div>
    <div>.</div>
    <footer class="fixed-bottom footer">
        <p>&copy; @DateTime.Now.Year - SpecWheels</p>
    </footer>
</body>
</html>
